{:company/legal-name "Canadian National Railway Company"
 :company/lei "3SU7BEP7TH9YEQOZCS77"
 :company/jurisdiction "CA"
 :company/website "https://www.cn.ca"
 :company/ticker "CNI (NYSE) / CNR (TSX)"
 :company/inquiry-form-url "https://www.cn.ca/en/contact-us/"}
